<table>
  <thead>
    <th>タイトル</th>
    <th>内容</th>
    <th></th>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %></td>
        <td><%= poem.content %></td>
        <td><%= link_to "詳細", poem %></td>
      </tr>
    <% end %>
  </tbody>
</table>
