<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <br>
    <h3><%= @user.name %></h3>
    <br>
    <h4>フォローしているユーザー</h4>
    <%= render 'followed_user_form', user: @user %>
    <h4 class="followed-user">フォロワー</h4>
    <%= render 'follower_form', user: @user %>
    <br>
    <%= link_to "ユーザー一覧へ戻る", users_path, class:"btn btn-primary" %>
  </div>
</div>
